*.iml
.gradle
.idea
.git
.gitlab-ci.yml
incrementVersionCode.sh
/fastlane/*
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
._.DS_Store
/build
/captures
.externalNativeBuild
